body {
    margin: 0px 5vw 0px 5vw;
  }
  
  body > footer {
    margin: 0px 0px 0px 0px;
  }
  
  
  
  
  .top_nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .nav-top {
    height: 20px;
  }
  
  .nav {
    padding: 10px 0px 10px 0px;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;  
  }
  
  .title {
    font-family: "Century Gothic", Courier, monospace;
    font-size: 30px;
    text-decoration: none;
    max-width: 50px;
    margin: 10px 0px 10px 0px;
  }
  
  .nav-right {
    float: right;
    justify-content: center;
    margin: 10px 0px 10px 0px;
   } 
  
  .nav-right a {
    border-right: 1px solid black;
    display: inline;
    text-decoration: none;
    font-weight: lighter;
    width: auto;
    max-width: 50px;
    padding: 10px;
    color: black;
  }
  
  .nav-right a.last {
    border-right: none;
  }
  
  .nav-bottom {
    height: 20px;
  }

  


.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.grid > div {
    text-align: start;
    font-size: 20px;
}

.grid-item1 {
    background-color: darkgrey;
    padding: 20px;
    margin: 0px 20px 0px 20px;
}

.text {
    font-size: 2.5vh;
    font-family: 'Century Gothic';
}

.grid-item2 {
    background-color: darkgrey;
    padding: 20px;
    margin: 0px 20px 0px 20px;
}




.footer-container {
    background-image: url(images/footer_bg.jpg);
    background-position: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0vw 8vw;
    margin: none;
    justify-content: center;
    padding: 15px;
  }
  
  .fgrid-item {
    color:rgba(35, 81, 180, 1);
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    text-align: center;
  }
  
  #submit_button { 
    background-color: rgba(171, 201, 224, 1);
    opacity: 0.6;
    border-radius: 5px;
    min-width: 160px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  #submit_button:hover {
    opacity: 1;
  }