/* General */

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

.white {
  color: white;
}

/* Navbar */

.nav {
  padding: 0.4em;
}

.nav-link {
  font-size: 20px;
}

.bg-yellow {
  background: #66ff66;
}

.font-wt {
  font-weight: 700;
}

.black {
  color: black;
}

/* Section 1 - welcome */

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #0ed1e3;
}

.welcome-quote {
  font-size: 1.5em;
  margin: 0.5em;
  font-family: "IM Fell Great Primer SC", serif;
  color: black;
}

#empathy {
  height: 40vh;
}

.scroll {
  margin-top: 20px;
  color: red;
}
/* Section - Work */

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #14a76c;
  color: #2c3531;
}

#img-work {
  height: 30vh;
}

.pointers {
  font-size: 5vh;
  margin-top: 0.5em;
  font-family: "IM Fell Great Primer SC", serif;
  color: black;
}

.second {
  margin-top: 20px;
  font-size: 3.5vh;
  font-family: "IM Fell Great Primer SC", serif;
}

#work-wrap {
  margin: 5vh;
}

/* Sign up */

#signup {
  height: 100vh;
  background: yellow;
}

.green {
  color: green;
}
